* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}


/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 10%;

    background: #020617;

    position: sticky;
    top: 0;
}

nav h2 {
    color: #38bdf8;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #38bdf8;
}


/* HERO */

.hero {
    min-height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.hero h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

.hero h1 span {
    color: #38bdf8;
}

.hero h2 {
    margin-bottom: 20px;
}

.hero p {
    color: #94a3b8;
    margin-bottom: 25px;
}


/* BUTTON */

button {
    background: #38bdf8;
    border: none;

    padding: 12px 25px;

    border-radius: 8px;

    cursor: pointer;

    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background: #0ea5e9;
}


/* SECTIONS */

section {
    padding: 80px 10%;
}

section h2 {
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
}


/* PROJECTS */

.projects {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: #1e293b;

    padding: 30px;

    width: 300px;

    border-radius: 12px;

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    color: #38bdf8;
    margin-bottom: 15px;
}


/* CONTACT */

form {
    max-width: 500px;
    margin: auto;

    display: flex;
    flex-direction: column;

    gap: 15px;
}

input,
textarea {
    padding: 15px;

    border: none;
    border-radius: 8px;

    font-size: 16px;
}

textarea {
    height: 150px;
}


/* FOOTER */

footer {
    background: #020617;
    text-align: center;
    padding: 25px;
}


/* MOBILE */

@media (max-width: 700px) {

    nav ul {
        display: none;
    }

    .hero h1 {
        font-size: 38px;
    }

}